.gnb-search {
  $close-button-size: 32px;

  position: relative;
  width: 264px;

  .input-group,
  .search-history {
    width: 100%;
  }

  .search-history {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: $search-history-level;
    display: none;
    padding: 8px;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 4px;
    transform: translateY(calc(100% + 4px));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);

    &.is-active {
      display: block;
    }

    &-header {
      margin: 0 8px;
    }

    .search-history-list {
      max-height: 220px;
    }
  }
}
