.clipping-toast {
  @include flexbox(between);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $toast-level;
  width: 100vw;
  height: 56px;
  padding-right: 12px;
  padding-left: 36px;
  background-color: $white;
  box-shadow: $popup-reserved-shadow;

  &.is-hide {
    display: none;
  }

  .title {
    @include text-style(13, $primary);
    font-weight: 400;
  }

  .delete-button {
    @include pos-center-y;
    left: 0;
    display: block;
    width: 36px;
    height: 36px;
    color: $tertiary;
    transition: color 250ms ease-in-out;

    &:active {
      color: $secondary;
    }
  }

  .button-group {
    @include flexbox(end);

    a,
    button {
      @include text-style(13);
    }

    a {
      margin-right: 4px;
    }
  }

  @include responsive(D) {
    bottom: 40px;
    left: 50%;
    width: 480px;
    height: 80px;
    padding-right: 20px;
    padding-left: 56px;
    border-radius: 8px;
    transform: translateX(-50%);
    box-shadow: $popup-shadow;

    .title {
      @include text-style(16);
    }

    .delete-button {
      left: 10px;

      &:hover {
        color: $secondary;
      }
    }

    .button-group {
      a,
      button {
        @include text-style(14);
      }

      a {
        width: 112px;
        margin-right: 8px;
      }

      button {
        width: 99px;
      }
    }
  }
}
