.clipping-toast {
  @include flexbox(between);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $toast-level;
  width: 100vw;
  height: 56px;
  padding-right: 12px;
  padding-left: 36px;
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  box-shadow: $popup-reserved-shadow;
  transition: all 250ms ease-in-out;

  &.is-active {
    opacity: 1;
    visibility: visible;
    animation-duration: 300ms;
    animation-name: come_MOBILE;
    animation-timing-function: ease-in-out;
  }

  &.is-hide {
    opacity: 0;
    visibility: hidden;
    animation-duration: 300ms;
    animation-name: exit_MOBILE;
    animation-timing-function: ease-in-out;
  }

  .title {
    @include text-style(13, $primary);
    font-weight: 400;
  }

  .close-button {
    @include pos-center-y;
    left: 0;
    display: block;
    width: 36px;
    height: 36px;
    color: $tertiary;
    transition: color 250ms ease-in-out;

    &:active {
      color: $secondary;
    }
  }

  .button-group {
    @include flexbox(end);

    a,
    button {
      @include text-style(13);
    }

    a {
      margin-right: 4px;
    }
  }

  @include responsive(D) {
    bottom: 40px;
    left: 50%;
    width: 480px;
    height: 80px;
    padding-right: 20px;
    padding-left: 56px;
    border-radius: 8px;
    transform: translateX(-50%);
    box-shadow: $popup-shadow;

    &.is-active {
      animation-name: come_DESKTOP;
    }

    &.is-hide {
      animation-name: exit_DESKTOP;
    }

    .title {
      @include text-style(16);
    }

    .close-button {
      left: 10px;

      &:hover {
        color: $secondary;
      }
    }

    .button-group {
      a,
      button {
        @include text-style(14);
      }

      a {
        width: 112px;
        margin-right: 8px;
      }

      button {
        width: 99px;
      }
    }
  }
}

@keyframes come_MOBILE {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes exit_MOBILE {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes come_DESKTOP {
  0% {
    transform: translate(-50%, 100%);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes exit_DESKTOP {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, -100%);
  }
}
