.global-footer {
  padding: 32px 0 40px 0;
  background-color: $background;

  &-title {
    @include flexbox(start);
    @include text-style(13, $dark);
    font-weight: 700;

    .ic-chevron {
      display: block;
      font-size: 12px;
      transform: rotate(-90deg);
    }
  }

  &-contact {
    @include text-style(24, $dark);
    font-weight: 700;
  }

  &-time {
    @include text-style(12, $primary);
    margin-bottom: 24px;
  }

  &-details-list {
    font-size: 10px;
    line-height: 1rem;
    letter-spacing: -0.01em;
    color: $secondary;
  }

  &-details-item {
    @include flexbox(start);

    dt {
      &::after {
        margin: 2px;
        content: ':';
      }
    }
  }

  @include responsive(D) {
    &-title {
      @include text-style(14);
    }

    &-contact:hover {
      opacity: 0.5;
    }

    &-details-list {
      @include flexbox(start);
    }

    &-details-item {
      &:not(:last-child)::after {
        margin: 0 8px;
        content: '|';
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
