.product-show {
  @include responsive(T) {
    &-top {
      margin-bottom: 40px;
    }

    &-content {
      .product-tab {
        margin-bottom: 40px;
      }
    }
  }

  @include responsive(D) {
    &-top {
      .product-info {
        margin-bottom: 20px;
      }
    }
  }
}
