.search-modal {
  $search-modal-header: 64px;
  $search-history-header: 36px;
  $header-height: $search-modal-header + $search-history-header;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $search-modal-level;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out,
    transform 250ms ease-in-out;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  &-form {
    @include flexbox(between);
    padding: 12px 0;

    .input-group {
      flex-grow: 1;
      margin-right: 8px;
    }

    .btn-ghost {
      flex-grow: 0;
      flex-shrink: 0;
      width: 56px;
    }
  }

  .search-history-list {
    height: calc(100vh - #{$header-height});
  }
}
