$lnb-level: 20;
$gnb-level: 30;
$product-tab-level: 30;
$search-history-level: 40;
$order-cta-level: 50;

$global-header-level: 100;

$overlay-level: 1000;
$sidebar-level: 2000;
$search-modal-level: 2000;
$order-form-modal-level: 2000;
$toast-level: 2000;
$add-to-cart-modal-level: 2000;
